#backend-body {
  overflow-x: hidden;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;

}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.clear-fix {
  margin-top: -22px;
}
.dashboard-heading {
  text-align: center;
}
#modal-delete-button {
      margin-right: 53px;
}

#modal-no-button {
      margin-top: -58px;
}

.lightGray {
  background-color: $trashbinColoring;
}
