#backend-body {
  overflow-x: hidden;
}

#page-content-wrapper {
  padding: 20px;
  position: relative;
}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-left: 250px;
}

.clear-fix {
  margin-top: -22px;
}
.dashboard-heading {
  text-align: center;
}
#modal-delete-button {
      margin-right: 53px;
}

#modal-no-button {
      margin-top: -58px;
}

.lightGray {
  background-color: $trashbinColoring;
}
