html,
#menuboard-body {
  height: 100%;
  font-size: $menuboard-font-weight;
  font-family: 'Arvo', serif;
  background-color: $white;
}

.all0 {
  padding: 0;
  margin: 0;
}
.alignright {
  text-align: right;
  float: right;
}
.opacity {
  opacity: $opacity;
}

#app {
  height:100%;

}