.full-height {
  height: 100%;
}

.half-height {
  height: 50%;
  overflow: hidden;
}
.bg-pink {
  background-color: $lightpink;
  background-size: cover;
}

.bg-orange {
  background-color: $lightorange;
}

.bg-blue {
  background-color: $lightblue;
}
.pink-burbles {
  height:90px;
  background-repeat: repeat-x;

}

.heading-banner {
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  margin: 0;
}

.banner-orange {
  background-position: bottom right;

  h1 {
    padding-right: 130px !important;
  }
}

.background-image-contain {
  background-position: top left;
  background-size: contain;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.background-image-cover {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.specialdiv {
  position: relative;
  top: 10%;
  width: 25%;
  left: 10%;
}
.special-div h2 {
  line-height: ($menuboard-font-weight * 2 );
  color:$black;
}
