.carousel-content {
  color: black;
  display: flex;
  align-items: center;
}
.carousel-content ul {
  list-style: none;
  font-size: $menuboard-font-size + 20;
  color: $white;
  font-weight: $menuboard-font-weight;
  width: 100%;
}
.carousel-content li {
  height: $li-height;
  text-align: center;
}
